*{
    padding:0;
    margin:0
}
body{
    zoom:0.9;
}
#all {
    width: 1080px;
    height: 2400px;
    margin: 0 auto;
    background-image: url('bg-img.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
.img_1 {
    zoom: 0.25;
    position: absolute;
    top: 2892px;
    left: -450px;
    z-index: 999;
}
.cx {
    position: absolute;
    top: 2041px;
    right: 5px;
    zoom: 0.3;
    z-index: 998;
}
.cx_1 {
    position: absolute;
    top: 1381px;
    right: 635px;
    zoom: 0.3;
    z-index: 997;
}
.font1{
    font-family:YouYuan;
    font-size:100px;
    font-weight:900;
    color:#deaf04;
    border:2px solid double;
    position:absolute;
    top:300px;
    left:150px;
}
.font2 {
    font-family: YouYuan;
    font-size: 100px;
    font-weight: 900;
    color: #deaf04;
    border: 2px solid double;
    position: absolute;
    top: 200px;
    left: 60px;
}
.font3 {
    color: #a5d4d7;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    bottom: 185px;
    left: 59px;
    z-index: 1000;
}
